*{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-image:  url("https://source.unsplash.com/random/?wallpaper,landscape"), url("https://picsum.photos/1920/1080?landscap");
    
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transition: background-image 0.2s ease-in-out;
    overflow: hidden;
   
  
}
body::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: linear-gradient(20deg, rgba(0, 0, 0, 0.55) 8%, rgba(153,153,153,0) 65%, rgba(255,255,255,0) 100%);
    z-index: 0;
overflow: hidden;
}
.top{
    padding: 50px 7vw;
    display: flex;
    justify-content: space-between;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.130);
    z-index: 5;
    position: relative;

}
.warning{
    content: 'Please Enter Valid City!';
    position: absolute;
    display: none ;
    left: 0;
    right: 0;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 6vh;
    font-size: 2.5vw;
    background-color: rgba(0, 0, 0, 0.464);
    text-align: center;
  color: rgb(235, 84, 84);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.159);

}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
} */

.main{
    padding: 50px 7vw;
    display: flex;
    align-items: flex-end;
    height: calc(100vh - 125px);
    width: 100%;
    box-sizing: border-box;

    
}

.bottom{
    display: flex;
align-items:end;
padding-bottom: 40px;
z-index: 2;

flex-wrap: wrap;

}

.bottom h1{
   
    font-weight: 500;
    font-size: 8rem;
    line-height:normal;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.159);
    
}
.bottom .name{
display: inline-flex;
flex-direction: column;
text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.130);
}
.bottom h2{
    font-size: 3rem;
    line-height:50px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.159);
    margin-top: 15px;
    
}
.name div.a{
    display: inline-flex;
    justify-content: space-between;
    
}
.name p{
    display: inline-flex;
}

.b{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;

}
.b .wicon{
    width: 60px;
    margin-bottom: 0px; 
}

.b p{
text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.130);
}
h1.temp{
    line-height: 70px;
}
.search{
    position: absolute;
    top: 44%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5vw;
    z-index: 2;
}
.search .searchbar{
    width: 100%;
  max-width: 600px;
    height: 60px;
    margin-right: 0.9rem ;
    border-radius: 30px;
    border:0;
    background-color: #7c7c7cb0;
    box-sizing: border-box;
    padding: 3px  1.4rem 0;  
    background-color: rgba(0, 0, 0, 0.629); 
    font-size: 1.4rem; 
    position: relative;
    
}

.search .btn{
    height: 60px;
    width: 60px;
    background-color: rgba(129, 108, 69, 0.629); 
    border-radius: 30px;
    border:0;
    padding-top: 2px;
}
.search .btn:hover{
  
    background-color: rgba(217, 159, 52, 0.71); 

}
.search .searchbar:hover{
  
    background-color: rgba(95, 95, 95, 0.71); 
}
